<nav>
  <p class="sidebar-links">
      <a href="mailto:annewchen@gmail.com"><img class="links" src="../assets/Social_Icons/mail.png" alt="ContactMe"/></a>
  </p>
  <p class="sidebar-links">
      <a href="https://www.linkedin.com/in/annewchen"><img class="links" src="<%= asset_path('linkedin.png') =%>" alt="LinkedIn"/></a>
  </p>
  <p class="sidebar-links">
      <a href="https://github.com/annewchen"><img class="links" src="<%= asset_path('Github.png') =%>" alt="Github"/></a></li>
  </p>
  <p class="sidebar-links">
      <a href="https://www.facebook.com/anne.chen.37"><img class="links" src="<%= asset_path('facebook.png') =%>" alt="Facebook"/></a>
  </p>
  <p class="sidebar-links">
      <a href="https://twitter.com/annewchen"><img class="links" src="<%= asset_path('twitter.png') =%>" alt="Twitter"/></a>
  </p>
  </ul>
</nav>