<div class="nav">
  <a href="/" class="navigation-buttons about_me">
   <p class="nav_font">About Me</p>
  </a>

  <a href="/" class="navigation-buttons blog">
    <p class="nav_font">Blog Posts</p>
  </a>

  <a href="/" class="navigation-buttons projects">
    <p class="nav_font">My Projects</p>
  </a>

  <a href="/" class="navigation-buttons resume">
   <p class="nav_font">Resume</p>
  </a>

</div>