<div class="nav">
  <a href="/" class="navigation-buttons">
   <p class="nav_font">Home Page</p>
  </a>

  <a href="./about_me.html" class="navigation-buttons">
   <p class="nav_font">About Me</p>
  </a>

  <a href="./blog/index.html" class="navigation-buttons">
    <p class="nav_font">Blog Posts</p>
  </a>

  <a href="./projects/index.html" class="navigation-buttons">
    <p class="nav_font">My Projects</p>
  </a>
</div>