<div id="projects" >
  <h3>Projects</h3>
  <table>
    <th><a href="http://restaurant-roulette.herokuapp.com/">Restaurant Roulette</a></th>
    <tr>
      <td>An application that allows groups to make a quick restaurant choice. Every member of the group gets to vote on two specific preferences for a restaurant. App will take the majority preferences into consideration and return a random restaurant from the filtered pool of restaurants.
      </td>
    </tr>
    <tr>
      <td>
      <ul>
        <li>
          Gained skills in team organization, management, and leadership as well as experience in agile development
        </li>
        <li>
          Technologies Used: Ruby on Rails, Twilio API, and Yelp API
        </li>
      </ul>
      </td>
    </tr>

  </table>
</div>