<div id="resumePage">
<h3>Education</h3>
  <table>
    <tr>
      <td>
        DevBootcamp : June 2015 - Oct 2015
        <ul>
          <li>
            learned coding languages
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        University of California, San Diego :  2007 - 2011
        <ul>
          <li>
            B.S. in Mathematics, B.S. in Psychology
          </li>
        </ul>
      </td>
    </tr>
  </table>
  <h3>Skills</h3>
  <table>
    <tr>
      <td>
        Computer Languages
        <ul>
          <li>
            Ruby, HTML/CSS
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        Personal Qualities
        <ul>
          <li>
            Organized, attentive to detail, fast-learner, strong communication skills
          </li>
        </ul>
      </td>
    </tr>
  </table>
  <h3>Experience</h3>
  <table>
    <tr>
      <td>
        Citibank - Sales Associate : Sept 2012 - Feb 2015
        <ul>
          <li>
            Assisted Home Lending Officer, Michelle Alvarado, in closing ~340 mortgage units for ~$96 million in -  ranking within top 15 producers in the nation.
          </li>
          <li>
            Utilized language skills in helping Alvarado achieve second highest foreigner mortgage units closed nationwide
          </li>
          <li>
            Communicated with clients, processors, and agents as point of contact for updates and requests.
          </li>
          <li>
            Mastered Citibank online data storage and input programs.
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        ACG Funding Inc. – Head Funder : Oct 2011 - Sept 2012
        <ul>
          <li>
            Achieved company record high $15 million of funded loans in one month
          </li>
          <li>
            Managed pipeline activity and organized funding schedule
          </li>
          <li>
            Communicated with Lender for loan purchase and audited files to satisfy all pre-funding conditions.
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        Ivy League Tutor – Mathematics Teacher  : Oct 2011 - Sept 2012
        <ul>
          <li>
            Taught Algebra 2 to a class of 12 high school students of various math comprehension levels.
          </li>
          <li>
            Adapted teaching technique to address the needs of each student
          </li>
          <li>
            Managed curriculum and classroom schedules
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        UCSD – Research Assistant : Sept 2009 – June 2010
        <ul>
          <li>
            Assisted Dr. Gail Heyman and Liane Wardlow Lane in compiling and analyzing data for various researches on   child development from Del Mar Heights Elementary School students and UCSD undergraduates.
          </li>
          <li>
            Compared and analyzed results for Lane's research on prospective taking.
          </li>
        </ul>
      </td>
    </tr>
  </table>
</div>