/*right aside*/
.right{
  float: right;
  width: 10%;
}
nav {
  height:100%;
}
.links{
  height: 40%;
  width: 40%;
  text-align: center;
  margin: 1em;
}
.sidebar-links{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
