/*left aside*/
.left{
  float: left;
  width: 25%;
  text-align: center;
  font-family: Maven Pro;
}
#profile{
  height: 60%;
  width: 60%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1em;
}