// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//*{
//  outline: 1px solid red;
//}

body{
  margin: 2em;
  min-width: 900px;
}

aside{
  display: inline-block;
  border-radius: 20px;
  border: 2px solid #a4a9ff;
}

a{
  text-decoration: none;
  transition: all .5s ease-in-out;
}
a:hover {
  color: #422885;
  text-decoration: none;
  transform: scale(1.1);
}

h1{
  display: block;
  width: 50%;
  font-family: Indie Flower;
  font-size: 3em;
  border-bottom: 3px solid #a4a9ff;
}

h3{
  text-align: center;
  font-family: Indie Flower;
  border-bottom: 1px solid #a4a9ff;
}


/*main content*/
section{
  float: left;
  margin-left: 1em;
  width:60%;
  display: inline-block;
}
.content{
  margin: 2em;
  font-family: Maven Pro;
}
img{
  margin: 1em;
  width: 90%;
}

a p{
  margin-top: 2em;
}

div{
  margin-right: auto;
  margin-left: auto;
  height: 20em;
  width:65%;
  border:1px solid white;
  border-radius: 5px;
  overflow:auto;
}
td{
  font-size: 15px;
  font-family: Maven Pro;
}

.main{
  margin-left: 30%;
}